/*Selector universal*/
*{
    margin: 0; /*Espacio exterior*/
    padding: 0; /*Espacio interior*/
    box-sizing: border-box;
}

/*Selector de tipo etiqueta*/
body{
    background-color: rgb(252, 227, 180);
    font-family: Arial, sans-serif; /*Tipografia*/
    line-height: 1.5; /*Interlineado*/
}

.contenedor{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: rgb(252, 227, 137);
    color:rgb(240, 156, 1);
    padding: 10px 0;
}

/*Selectores avanzados*/
header h1{
    text-align: center;
    justify-content: center;
}

nav ul{
    list-style: none;
    display:flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Selector de tipo clase*/
.estilo{
    background-color: aliceblue;
    padding: 20px;
    margin: 20px 0; /* 10px left y rigth, 0 top y bottom*/
    transition: background-color 0.3s ease;
}

.estilo:hover{ /*Animacion de background color*/
    background-color: rgb(181, 221, 255);
}
.cta-button{
    background-color: rgb(254, 208, 115);
    color:rgb(127, 9, 9);
    padding: 10px 2px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
.cta-button:hover {
    background-color:orangered;
    color:white;
}

/* Estilos al contenedor de las tarjetas*/
.menu-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}
.card{
    background-color: bisque;
    border-bottom: 10px;
    width: 250px;
    margin: 15px;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover{
    transform:translateY(-8px);
}
.card img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer{
    background-color: rgb(252, 227, 137);
    text-align: center;
    padding: 18px;
    width: 100%;
    position: fixed;
    bottom: 0;
}